* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Loading Start */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid orangered;
    -webkit-animation: spin 0.5s linear infinite;
    animation: spin 0.5s linear infinite;
}

@-webkit-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



#myDiv {
    display: none;
}


/* Loading End */

/* Navbar Start*/

nav {
    background-color: #F4F3F3;
    display: flex;
    height: 70px;
}

nav .left_section {
    flex: 55%;
    padding-left: 90px;
    display: flex;
    align-items: center;
}

nav .left_section li {
    display: inline-block;
}

nav .left_section ul li a {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
}

nav .left_section ul li a:hover {
    text-decoration: none;
    color: orangered;
    transition-duration: 300ms;
}

nav .left_section ul li a:active {
    color: orangered;
}

nav .right_section {
    flex: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 90px;
}

nav .right_section a {
    background-color: black;
    color: #F4F3F3;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
}

nav .right_section a:hover {
    background-color: orangered;
    transition-duration: 500ms;
}

/* Navbar End */

/* Main */

body {
    background-color: #E2E6EA;
}

main {
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
    height: 120vh;
}

.project-form {
    width: 450px;
    margin: 0 auto;
    margin-bottom: 80px;
    margin-top: 80px;
}

.project-form h1 {
    text-align: center;
    margin-bottom: 10px;
}

/* Project Name Start */
.projectname {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;
}

.projectname input {
    border: none;
    padding: 12px 16px;
    border-radius: 6px;
    width: 100%;
    box-shadow: 0 1px 10px -1px rgba(0, 0, 0, 0.3);

}

.projectname label {
    font-weight: bold;
    margin-bottom: 2px;
}

/* Project Name End */

/* Date Start */

.date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.date input {
    border: none;
    padding: 12px 16px;
    border-radius: 6px;
    box-shadow: 0 1px 10px -1px rgba(0, 0, 0, 0.3);

}

.date label {
    font-weight: bold;
    margin-bottom: 2px;
}

.half {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.half:first-child input {
    width: 100%;
}

.half:last-child input {
    width: 100%;
}

.half:first-child {
    flex: 50%;
    margin-right: 50px;
}

.half:last-child {
    flex: 50%;
}

/* Date End */

/* Deskripsi Start */

.deskripsi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;
}

.deskripsi textarea {
    border: none;
    padding-bottom: 90px;
    padding-right: 32px;
    resize: none;
    border-radius: 6px;
    width: 100%;
    box-shadow: 0 1px 10px -1px rgba(0, 0, 0, 0.3);

}

.deskripsi label {
    font-weight: bold;
    margin-bottom: 2px;
}

/* Deskripsi End */

/* Checkbox Start */

h4 {
    margin-bottom: 10px;
}

.checkbox {
    display: flex;
}

.checkbox label {
    color: grey;
    font-weight: 600;
}

.checkbox input {
    height: 25px;
    width: 25px;
    margin-right: 5px;
    
}

.checkbox-grup {
    display: flex;
    align-items: center;
}

.checkbox-kiri {
    margin-right: 80px;
}

.checkbox-kiri .checkbox-grup {
    margin-bottom: 10px;
}

.checkbox-kanan .checkbox-grup {
    margin-bottom: 10px;
}

/* Checkbox End */

/* Upload & Button Submit Start */

.upload label {
    font-weight: bold;
}

.upload-button {
    width: 482px;
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
    background: white;
    border: none;
    box-shadow: 0 1px 10px -1px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.upload-button label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
}

.upload-button label img {
    margin-right: 10px;
}

.upload-button p {
    background-color: #E4E4E4;
    width: 100px;
    padding: 8px 12px 8px 12px;
    text-align: center;
    border-radius: 5px;
    color: grey;
    border: 1px solid rgb(203, 203, 203);
}

.upload-button p:hover {
    background-color: orangered;
    color: white;
    transition: 500ms;
}

.button {
    width: 106.5%;
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button .btn-submit {
    padding: 10px 22px;
    border: none;
    border-radius: 17px;
    background-color: black;
    color: white;
    font-size: 14px;
}

.button .btn-submit:hover {
    background-color: orangered;
    transition: 500ms;
}

/* Upload & Button Submit End */

/* List Project */

.list-project-head {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    background-color: #F4F3F3;
    margin: auto;
    width: 100%;
    padding: 20px 0 20px 0;
}

.list-project-head h1 {
    margin-top: 10px;
    text-align: center;
}

.list-project {
    margin-top: 22px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card-project {
    text-decoration: none;
    color: black;
    flex-basis: 20%;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 10px -1px rgba(0, 0, 0, 0.3);
}

.cover_image {
    display: flex;
    justify-content: center;
}

.cover_image img {
    margin: 10px;
    width: 230px;
    height: 230px;
    object-fit: fill;
    border-radius: 10px;
}

.card-content {
    padding: 20px;
}

.card-text {
    max-width: 100%;
    overflow: hidden;
    height: 43px;
}

.project_name {
    font-weight: 700;
    font-size: 16;
}

.tech_icon img {
    margin-top: 10px;
    width: 30px;
}

.btn-card {
    width: 100%;
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.btn-card button {
    padding: 6px 18px;
    flex: 1;
    text-decoration: none;
    background: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-card button:hover {
    background: orangered;
}
